body{
    margin: 0;
    padding: 0;
}
.main{
    background-color: rgb(232, 240, 254);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
      
}
.content{
    
     background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 30px;
      height: 400px; 
      width: 950px;
      display: flex; 
}
.left {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:8px;


}
.right {
     /* background-color: rgb(223, 12, 128); */
     width: 50%;
     padding: 30px;
     display: flex;
     flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;

}
.input-box{
    width: 100%;
}
.input-box > input {
    width: 90%;
    padding: 20px;
   
    border: solid black 1px;
    border-radius: 7px;
    margin-top: 60px;
   
} 

 .forgot{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 100px;
    
    
}

.google-link{
    display: flex;
    gap: 25px;
    margin-right: 15px;
    margin-top: 10px;

}

.button-box{
     display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    gap: 30px;
   
}
.button-box > button {
    border: 1px solid rgb(26, 115, 232);
    border-radius: 20px;
    width: 110px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(26, 115, 232);
    
}
button{
        color: white;
}

.title{
    font-size: 1.5em;
}
select{
   
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgb(232, 240, 254);
}
.last{
    display: flex;
    justify-content: space-between;
    
}
@media screen and (max-width:320px) {

    .parent{
        width: 100%;
        border-radius: 0%;  
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 255, 255); 

    }

    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .left{
        width: 100%;
        
        
    }

    .right{
        width: 100%;
       
    }
    
    .input-box > input{
        width: 70%;
    }
   

    .forgot{
        margin-bottom: 50px;
    }
    .button-box{
        display: flex;
        justify-content: space-between;
    }
    .button-box > button {
        width: 120px;
        height: 35px;
        font-size: 14px;
        
    }

    .button-box > .next {
        border: 1px solid rgb(26, 115, 232);
        background-color: rgb(26, 115, 232);
        color: white;
    }

    .button-box > .create {
        background-color: white;
        color: rgb(26, 115, 232);
        border: none;
    }


     
    
    .google-link{
    
        display: flex;
        /* justify-content: flex-start; */
        gap: 30px;
        margin-left: 10px;

    }

    select{
        background-color:rgb(255, 255, 255);
        border: none;
        width: 60%;
        font-size: 14px;
    }
    
    .last{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    }
    img{
        height: 50px;
        width: 50px;
        margin-top: 20px;
    }


}

  