
#p1 {
    background-color: rgb(209, 50, 50);
    
}
#p2 {
    border-width: 5px;
    border-style: solid;
    margin: 10px;
}
#p3 {

    border-top: 5px solid red;
    border-right: 5px solid blue;
    border-bottom: 5px solid green;
    border-left: 5px solid orange;
    padding: 10px;
}
li {
    list-style: none;
    display: inline;
    padding: 5px;
    border: 2px solid black;
}
#d1 {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px crimson ;
}
#box1{
    height: 300px;
    width: 300px;
    border: 1px solid rgb(11, 214, 28);
    border-radius: 150px;
}
#box2 {
    height: 300px;
    width: 300px;
    border: 1px solid rgb(230, 17, 17);
    border-radius: 20px;
    text-align: center;
}
#box3{
    height: 300px;
    width: 300px;
    border: 6px solid rgb(70, 34, 214);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 50px;
    
}