.main-container {
    height: 500px;
    width: 900px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;



}
.child {
    height: 80px;
    width: 80px;
}
.child1{
    border: 1px solid black;

}
.child2{
    border: 1px solid black;
}
.child3{
    border: 1px solid black;
}
.child4{
    border: 1px solid black;
}
.child5{
    border: 1px solid black;
}